.c0 {
    box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
}

.c1 {
    box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
}

.c2 {
    box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    
}

